
<head>
  <!-- Main css -->
  <link rel="stylesheet" href="/css/add_orders.css">
</head>
<body>

<div class="main">
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
          <h2 class="form-title">Add Order</h2>

          <%#= form_with(model: @order , local: true, url: "/add") do |f|%>
            <%= form_for(order ,url: "/add") do |f| %>
        <div class="form-group">
              <label for="order_for">Order for:</label>
              <%= f.text_field :kind, placeholder: "Breakfast" %>
              <!--              <select id="order_for" name="type">-->
              <!--                <option value="breakfast">Breakfast</option>-->
              <!--                <option value="lunch">Lunch</option>-->
              <!--                <option value="dinner">Dinner</option>-->
              <!--              </select>-->
            </div>

            <div class="form-group">
              <label for="resturant"></label>
              <%= f.text_field :resturant, placeholder: "cook door" %>
              <!--              <input type="text" name="resturant" id="from" placeholder="write the restaurant name"/>-->
            </div>
            <div class="form-group">
              <label for="choose"></label>
              <%#= f.text_field :friend, placeholder: "friend" %>

            </div>
            <div class="form-group">
              <label for="img"></label>
              <input type="image" name="image" id="image" placeholder="Upload menu image"/>
            </div>

            <div class="form-group form-button">
              <input type="submit" value="Publish"/>
<!--                            <input type="submit" name="publish" id="publish" class="form-submit" value="Publish"/>-->
            </div>
          <%end%>

        </div>
        <div class="signup-image">
          <input type="text" name="friend" id="choose" placeholder="Choose your friends"/>
          <div class="form-group form-button">

          </div>
        </div>
      </div>
    </div>
  </section>

</div>
</div>
</div>
</section>

</div>

</body>
</html>