
<head>
  <!-- Main css -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="main">

  <!-- Sign up form -->
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
          <h2 class="form-title">Add Order</h2>
          <form method="POST" class="register-form" id="register-form">
            <div class="form-group">
            <label for="order_for">Order for:</label>

            <select id="order_for">
              <option value="breakfast">Breakfast</option>
              <option value="lunch">Lunch</option>
              <option value="dinner">Dinner</option>
            </select>
            </div>

            <div class="form-group">
              <label for="from"></label>
              <input type="text" name="from" id="from" placeholder="write the restaurant name"/>
            </div>
            <div class="form-group">
              <label for="choose"></label>
              <input type="text" name="choose" id="choose" placeholder="Choose your friends"/>
            </div>
            <div class="form-group">
              <label for="img"></label>
              <input type="image" name="image" id="image" placeholder="Upload menu image"/>
            </div>

            <div class="form-group form-button">
              <input type="submit" name="publish" id="publish" class="form-submit" value="Publish"/>
            </div>
          </form>
        </div>
        <div class="signup-image">
          <input type="text" name="choose" id="choose" placeholder="Choose your friends"/>
        </div>
      </div>
    </div>
  </section>

</div>
</div>
</div>
</section>

</div>

</body>
</html>