<div class="text-center">
  <div class="alert alert-success" role="alert">
    <h1 class="alert-heading">Friends Activity</h1>
  </div>
</div>


<table class="table table-sm">
  <thead>
  </thead> 
  <tbody>
    <% if @each_friend_detail. nil?  %>
        <td>  No Current Friends Activity </td>
    <% else %>
        <% @each_friend_detail.each do |friend| %>
        <tr>
        <td> <%= friend[2] %> </td>  
        <td>has created an order from</td>
        <% end %>

    <% @each_friend_order.each do |friend_order| %>
    
        <td> <%= friend_order[3] %> </td>
        <td>for</td> 
        <td> <%= friend_order[2] %> </td>
    </tr>
    <%end%>
    
<%end%>
  </tbody>
</table>