<% if @user %>
   <div class="alert alert-success" role="alert">
   <b>Your Search Result:</b>
    <%= @user.email %> 
   </div>
<% else %>
<div class="alert alert-warning" role="alert">
  No user with this email
</div>

<% end %>


    
