<% if @user %>
   <div class="alert alert-success" role="alert">

     you are now friends
</div>
<% else %>
<div class="alert alert-warning" role="alert">
  No user with this email
</div>

<% end %>


    
