<!--ssss-->
<!--<head>-->

<!--  <link rel="stylesheet" type="text/css" href="/css/list_orders.css">-->

<!--</head>-->
<!--<body>-->

<!--<div class="limiter">-->
<!--  <div class="container-table100">-->
<!--    <div class="wrap-table100">-->
<!--      <div class="table100">-->
<!--        <h2>Orders</h2>-->
<!--       <div align="right" class="black" > <h2><a href="<%#= orders_add_path %>">Start new order</a> </h2></div>-->
<!--        <table>-->
<!--          <thead>-->
<!--          <tr class="table100-head">-->
<!--            <th class="column1">Order</th>-->
<!--            <th class="column2">Resturant</th>-->
<!--            <th class="column3">Invited</th>-->
<!--            <th class="column4">Joined</th>-->
<!--            <th class="column5">Status</th>-->
<!--            <th class="column6">Action</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <td class="column1">2017-09-29 01:22</td>-->
<!--            <td class="column2">200398</td>-->
<!--            <td class="column3">iPhone X 64Gb Grey</td>-->
<!--            <td class="column4">$999.00</td>-->
<!--            <td class="column5">1</td>-->
<!--            <td class="column6">$999.00</td>-->
<!--          </tr>-->


<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<!--</body>-->




<!--<div class="text-center">-->
<!--  <div class="alert alert-success" role="alert">-->
<!--    <h3 class="alert-heading">Orders</h3>-->
<!--  </div>-->
<!--</div>-->

<!--<table class="table table-bordered table-hover table-responsive">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th scope="col">ID</th>-->
<!--    <th scope="col">Order</th>-->
<!--    <th scope="col">Restaurant</th>-->
<!--    <th scope="col">Status</th>-->
<!--    <th scope="col" colspan="3">Actions</th>-->
<!--  </tr>-->
<!--  </thead>-->

<!--    <tbody>-->
  <%# i=1 %>
  <%# @orders.each do |order| %>
  <%# if order.status != "cancelled" %>
<!--        <tr>-->
<!--          <th scope="row"><%#= i %></th>-->
<!--          <td><%#= order.name %></td>-->
<!--          <td><%#= order.restaurant %></td>-->
<!--          <td><%#= order.status %></td>-->
<!--          <td><%#= link_to 'View', user_order_path(order.user,order.id), class: "btn btn-primary" %></td>-->
  <%# if order.status != "finished" %>


<!--            <td><%#= link_to 'finish', edit_user_order_path(order.user,order.id), class: "btn btn-success" %></td>-->
<!--            <td><%#= link_to 'Cancel', user_order_path(order.user,order.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>-->
  <%# end %>
<!--        </tr>-->
  <%# i = i + 1 %>
  <%# end %>
  <%# end %>
<!--    </tbody>-->
<!--</table>-->

<!--<br>-->

<%#= link_to 'New Order', new_user_order_path(@user), class: "btn btn-primary" %>